@media (min-width: 992px) {
	.navbar {
		--px: 1.5rem;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 10;
		padding-top: var(--px);
		padding-bottom: var(--px);
		background: transparent;
	}

	.navbar-brand-img {
		height: 2rem;
	}

	/* navbar shrink - when page isn't in top */
	.navbar-shrink {
		--px-shrink: .7rem;
		padding-top: var(--px-shrink);
		padding-bottom: var(--px-shrink);
		background: #212529;
	}

	/* shrink - image size */
	.navbar-shrink .navbar-brand-img {
		height: 1.5rem;
	}

	/* shrink - link size */
	.navbar-shrink .nav-link {
		font-size: .9rem;
	}

	.navbar-nav {
		padding-top: 0;
		margin-top: 0;
		border-top: 0;
	}

	.nav-link {
		font-weight: 500;
	}

	.my-header {
		height: 100vh;
		background-image: url(../img/header-bg.jpg);
		background-size: cover;
		background-position: center;
	}

	.header_welcome {
		font-family: serif;
		font-weight: 500;
		font-size: 3rem;
		font-style: italic;
	}

	.header_title {
		font-weight: 700;
		font-size: 4rem;
	}

	/* services */
	.services {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.services_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.services_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 2rem;
	}

	.service {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.service_logo {
		width: 10rem;
		height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.service_logo svg {
		width: 6.5rem;
		height: 6.5rem;
		fill: white;
	}

	.service_title {
		--my: 1.5rem;
		margin-top: var(--my);
		margin-bottom: var(--my);
		font-weight: 700;
		font-size: 1.5rem;
	}

	.service_description {
		font-family: serif;
		font-weight: 300;
		font-size: 1rem;
		color: gray;
		text-align: center;
	}

	/* Portfolio */
	.portfolio {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.portfolio_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.portfolio_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 3rem;
	}

	.portfolio_item {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.portfolio_item_image {
		width: 100%;
		height: 14rem;
		position: relative;
	}

	.portfolio_item_link {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-color: rgba(255, 208, 38, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity .3s ease;
	}

	.portfolio_item_link:hover {
		opacity: 100%;
	}

	.portfolio_item_image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.portfolio_item_title {
		margin-top: 1.5rem;
		font-size: 1.3rem;
		font-weight: 700;
	}

	.portfolio_item_description {
		font-family: serif;
		font-style: italic;
		font-weight: 300;
		color: gray;
	}

	/* About */
	.about {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.about_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.about_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 3rem;
	}

	.about_items{
		position: relative;
	}
	.about_line{
		width: 0;
		border: 1px solid #dee2e6;
		position: absolute;
		left: 50%;
		right: 50%;
		top: 8rem;
		bottom: 8rem;
		z-index: -1;
	}
	.about_item{
		/*z-index: 9;*/
	}

	.about_img{
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		width: 9rem;
		height: 9rem;
		border-radius: 50%;
		overflow: hidden;
		border: 5px solid #dee2e6;
	}

	.about_img img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.about_content{
		padding: 2rem;
	}

	.about_content_time,
	.about_content_title {
		font-size: 1.2rem;
		font-weight: 700;
		padding-bottom: .5rem;
	}

	.about_content_body{
		font-size: .8rem;
		color: gray;
	}



	.about_odd .about_content {
		text-align: right;
	}
}