@media (min-width: 992px) {
	.navbar {
		--px: 1.5rem;
		width: 100%;
		position: fixed;
		top: 0;
		padding-top: var(--px);
		padding-bottom: var(--px);
		background: transparent;
	}

	.navbar-brand-img {
		height: 2rem;
	}

	/* navbar shrink - when page isn't in top */
	.navbar-shrink {
		--px-shrink: .7rem;
		padding-top: var(--px-shrink);
		padding-bottom: var(--px-shrink);
		background: #212529;
	}

	/* shrink - image size */
	.navbar-shrink .navbar-brand-img {
		height: 1.5rem;
	}

	/* shrink - link size */
	.navbar-shrink .nav-link {
		font-size: .9rem;
	}

	.navbar-nav {
		padding-top: 0;
		margin-top: 0;
		border-top: 0;
	}

	.nav-link {
		font-weight: 500;
	}

	.my-header {
		height: 100vh;
		background-image: url(../img/header-bg.jpg);
		background-size: cover;
		background-position: center;
	}

	.header_welcome {
		font-family: serif;
		font-weight: 500;
		font-size: 3rem;
		font-style: italic;
	}

	.header_title {
		font-weight: 700;
		font-size: 4rem;
	}

	/* services */
	.services {
		--py:5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.services_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.services_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 2rem;
	}

	.service {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.service_logo {
		width: 10rem;
		height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.service_logo svg {
		width: 6.5rem;
		height: 6.5rem;
		fill: white;
	}

	.service_title {
		--my: 1.5rem;
		margin-top: var(--my);
		margin-bottom: var(--my);
		font-weight: 700;
		font-size: 1.5rem;
	}

	.service_description {
		font-family: serif;
		font-weight: 300;
		font-size: 1rem;
		color: gray;
		text-align: center;
	}
}