@media (min-width: 576px) {
	.navbar {
		--px: 1rem;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 10;
		padding-top: var(--px);
		padding-bottom: var(--px);
		background: #212529;
	}

	.navbar-brand-img {
		height: 2rem;
	}

	.navbar-nav {
		margin-top: .5rem;
		padding-top: .5rem;
		border-top: 1px solid whitesmoke;
	}

	.nav-link {
		font-weight: 500;
	}

	.my-header {
		height: 100vh;
		background-image: url(../img/header-bg.jpg);
		background-size: cover;
		background-position: center;
	}

	.header_welcome {
		font-family: serif;
		font-weight: 500;
		font-size: 3rem;
		font-style: italic;
	}

	.header_title {
		font-weight: 700;
		font-size: 4rem;
		text-align: center;
	}

	/* services */
	.services {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.services_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.services_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 2rem;
	}

	.service {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.service_logo {
		width: 9rem;
		height: 9rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.service_logo svg {
		width: 6rem;
		height: 6rem;
		fill: white;
	}

	.service_title {
		--my: 1.5rem;
		margin-top: var(--my);
		margin-bottom: var(--my);
		font-weight: 700;
		font-size: 1.1rem;
		text-align: center;
	}

	.service_description {
		font-family: serif;
		font-weight: 300;
		font-size: 1rem;
		color: gray;
		text-align: center;
	}

	/* Portfolio */
	.portfolio {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.portfolio_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.portfolio_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 3rem;
	}

	.portfolio_item {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.portfolio_item_image {
		width: 100%;
		height: 14rem;
		position: relative;
	}

	.portfolio_item_link {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-color: rgba(255, 208, 38, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity .3s ease;
	}

	.portfolio_item_link:hover {
		opacity: 100%;
	}

	.portfolio_item_image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.portfolio_item_title {
		margin-top: 1.5rem;
		font-size: 1.3rem;
		font-weight: 700;
	}

	.portfolio_item_description {
		font-family: serif;
		font-style: italic;
		font-weight: 300;
		color: gray;
	}

	/* About */
	.about {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.about_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.about_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 3rem;
	}

	.about_items {
		position: relative;
	}

	.about_line {
		width: 0;
		border: 1px solid #dee2e6;
		position: absolute;
		left: 50%;
		right: 50%;
		top: 8rem;
		bottom: 8rem;
		z-index: -1;
	}

	.about_img {
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		overflow: hidden;
		border: 5px solid #dee2e6;
	}

	.about_img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.about_content {
		padding: 2rem;
	}

	.about_content_time,
	.about_content_title {
		font-size: 1.2rem;
		font-weight: 700;
		padding-bottom: .5rem;
	}

	.about_content_body {
		font-size: .8rem;
		color: gray;
	}

	.about_odd .about_content {
		text-align: right;
	}

	.about_end .be-part {
		width: 75%;
	}

	/* Team */
	.team {
		--py: 5rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
	}

	.team_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.team_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 2rem;
	}

	.person {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.person_img {
		margin-bottom: 1rem;
		width: 12rem;
		height: 12rem;
		border: 5px solid #dee2e6;
		border-radius: 50%;
		overflow: hidden;
	}

	.person_img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.person_name {
		font-weight: 700;
		font-size: 1.3rem;
	}

	.person_job {
		font-family: serif;
		font-weight: 500;
		font-size: .9rem;
		color: gray;
	}

	.person_all-social {
		margin-top: 1rem;
		display: flex;
	}

	.person_social {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: .5rem;
		margin-right: .5rem;
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 50%;
		color: white;
		background: #212529;
		text-decoration: none;
		border: 2px solid transparent;
		transition: all .3s;
	}

	.person_social-twitter:hover {
		color: #00acee;
		border-color: #00acee;
		background-color: transparent;
	}

	.person_social-facebook:hover {
		color: #3b5998;
		border-color: #3b5998;
		background-color: transparent;
	}

	.person_social-linkedin:hover {
		color: #0e76a8;
		border-color: #0e76a8;
		background-color: transparent;
	}

	.team_description.two {
		margin-top: 4rem;
		font-style: normal;
		width: 70%;
		text-align: center;
	}

	/* logo */
	.logo{
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo img{
		width: 100%;
	}

	/* contact us*/
	.contact {
		--py: 4rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
		margin-top: 5rem;
		background-image: url(../img/map-image.png);
		background-size: cover;
		background-position: center;
	}

	.contact_title {
		font-weight: 700;
		font-size: 3rem;
	}

	.contact_description {
		font-family: serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.3rem;
		color: gray;
		margin-bottom: 2rem;
	}
	.contact_body textarea{
		height: 100%;
	}
}
