@import url(sm.css);
@import url(md.css);
@import url(lg.css);

/* primary button */
.btn-primary {
	color: #fff;
	background-color: #ffc800;
	border-color: #ffc800;
}

.btn-primary:hover {
	color: #fff;
	background-color: #d9aa00;
	border-color: #cca000;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #d9aa00;
	border-color: #cca000;
	box-shadow: 0 0 0 0.25rem rgba(255, 208, 38, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #cca000;
	border-color: #bf9600;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 208, 38, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
	color: #fff;
	background-color: #ffc800;
	border-color: #ffc800;
}

/* navbar active link */
.navbar,
.navbar * {
	transition: all 0.3s ease;
}

.nav-link.active {
	color: #cca000 !important;
}